# Build outputs
*.exe
*.dll
*.obj
*.o
*.lib
*.exp
*.pdb
*.ilk

# CUDA / compiler intermediates
*.cudafe*
*.ptx
*.cubin
*.fatbin

# Local editor / OS files
.vs/
.vscode/
*.user
desktop.ini

cpu/cpu.zip
cpu/KakaoTalk_Video_2026-05-12-13-00-51.mp4
cpu/KakaoTalk_Video_2026-05-12-13-00-56.mp4
cpu/화면 기록 2026-05-12 오후 12.48.21.mov
cpu/화면 기록 2026-05-12 오후 12.49.49.mov
화면 기록 2026-05-12 오후 12.49.49.mov
KakaoTalk_Video_2026-05-12-13-00-51.mp4
KakaoTalk_Video_2026-05-12-13-00-56.mp4
화면 기록 2026-05-12 오후 12.48.21.mov
